body {
padding: 0px;
margin: 0px;
}

.main-container {
    margin: auto;
    background-color: hsl(0, 0%, 100%);
    width: 100%;
}

#Menu {
    display: none;
}

#Nav-Section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* padding: 20px 0px; */

}

#logo-1 {
   width: 5%;
   height: 5%;
}

#nav-links-1 {
    display: flex;
   gap: 2rem;
   align-items: center;
}

#nav-links-1 a {
    color: hsl(256, 26%, 20%);
    text-decoration: none;
    font-size: 10px;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

.first-container {
    background-color: hsl(256, 26%, 20%);
    margin: auto;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    position: relative;
}

#Humanizing {
text-align: left;
margin: auto;
position: absolute;
left: 200px;
}

#intro-image {
    width: 100%;
    position: absolute;
    top: 160px;
    left: 300px;
}

#inside-second-container {
width: 10px;
margin: auto;
display: flex;
align-items: center;
gap: 3rem;
justify-content: space-between;
}

#button-bar {
    width: 80px;
    height: 20px;
    color: hsl(270, 9%, 17%);
    border: 1px solid hsl(270, 9%, 17%);
    background-color: transparent;
    padding: 5px;
    font-size: 10px;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
} 

#button-bar:hover {
    transform: scale(1.05);
    background-color: hsl(0, 0%, 100%);
    color:hsl(270, 9%, 17%);
}

#button-bar:active {
transform: scale(1);
border: green;
} 

.differences {
    display: flex;
    margin: auto;
    justify-content: space-between;
    text-align: left;
    width: 70%;
    gap: 3rem;
   
}

#We-are-different {
width: 70%;
margin: auto;
margin-top: 100px;
}

#snappy-process-icon {
    width: 15%;
}

#affordable-icon {
    width: 15%;
}
#people-first-icon
{
    width: 15%;
}

.second-container {
    display: flex;
    width: 100%;
    height: 260px;
    margin: auto;
    margin-bottom: 10%;
    background-color: hsl(256, 26%, 20%);
    align-items: center;
    gap: 0rem;
/* justify-content: space-between; */
position: relative;
}

#second-container-right {
    margin: auto;
    /* width: 70%; */
    width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* position: absolute;
    right: 0px; */
}

#second-container-left {
    width: 30%; 
    display: flex;
    flex-direction: row;
    align-items: center;
   margin-left: 60px;;
}


button {
    width: 75px;
    height: 20px;
    margin-bottom: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid hsl(0, 0%, 100%);
    padding: 5px hsl(0, 0%, 100%);
    font-size: 10px;
    font-weight: 500px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;

}

button:hover {
    transform: scale(1.05);
    background-color: hsl(0, 0%, 100%);
    color:hsl(270, 9%, 17%);
}

button:active {
transform: scale(1);
border: green;
} 

#button-2 {
    position: absolute;
    right: 200px;
    top: 150px;
}

#button-2:hover {
    transform: scale(1.05);
    background-color: hsl(0, 0%, 100%);
    color:hsl(270, 9%, 17%);
}

#button-2:active {
transform: scale(1);
border: green;
} 

#bg-pattern-how-we-work {
position: absolute;
right: 0;
}

h1 {
    font-size: 30px;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    color: hsl(0, 0%, 98%);
}

p {
    font-size: 16px;
    font-family: "Karla", serif;
    font-optical-sizing: auto;
    font-weight: 500px;
    font-style: normal;
    color: hsl(241, 100%, 89%);
}

h2 {
    font-size: 35px;
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:  hsl(270, 9%, 17%);
    text-align: left;
}

h3 {
    font-size: 16px;
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(270, 9%, 17%);
    text-align: left;
}

footer {
background-color:  hsl(0, 0%, 95%);
padding: 20px;
    width: 100%;
    margin: auto;
}

#Nav-bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: solid hsl(273, 4%, 80%);
    width: 70%;
    margin: auto;
}

#logo-2 {
   width: 15%;
   height: 15%;
}

#nav-links-2 {
display: flex;
gap: 2rem;
align-items: center;
}

#nav-links-2 a {
 color: hsl(256, 26%, 20%);
 text-decoration: none;
 font-size: 10px;
 font-family: "Karla", serif;
 font-optical-sizing: auto;
 font-weight: 400px;
 font-style: normal;
}

.last-container {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.services {
    display: flex;
    flex-direction: column;
}

.services a {
    color: hsl(270, 9%, 17%);
    text-decoration: none;
}


h5 {
    font-size: 16px;
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: hsl(273, 4%, 51%);
    text-align: left;
}

h4 {
    font-size: 35px;
    font-family: "DM Serif Display", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:  hsl(270, 9%, 17%);
    text-align: left;
}

@media only screen and (max-width: 426px) {

    #nav-links-1 {
        display: none;
    }

    #logo-1 {
        width: 10%;
        height: 10%;
    }

    #logo img {
        width: 10%;
        height: 10%;
    }

    #Menu {
        display: flex;
        gap: 2rem;
        align-items: center;
    }

    #Nav-Section {
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    #nav-links {
        display: flex;
       /* gap: 2rem; */
       /* align-items: center; */
    }
    
    .first-container {
        display: flex;
        flex-direction: row;
        /* flex-direction: column-reverse; */
        margin: auto;
        height: 750px;
        text-align: center;
        position: relative;
    }

    #bg-pattern-intro-left {
   position: absolute;
   top: 0;
    }

    #bg-pattern-intro-right {
        /* width: 50%;
        height: 50%; */
    position: absolute;
    top: 670px;
    right: -220px;
    }

    #bg-pattern-intro-right img {
        width: 30%;
        height: 40%;
    }

    #intro-image {
        width: 430px;
        height: 425px;
        margin: auto;
        position: absolute;
        top: -400px;
        left: -60px;
    }

    #Humanizing {
        text-align: center;
    position: absolute;
    top: 400px;
    left: 55px;
    }

    .differences {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    h3 {
        text-align: center;
    }

    .second-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin: auto;
        position: relative;
    }

    #second-container-right {
        margin: auto;
        width: 100%;
       text-align: center;
       position: absolute;
       top: 10px;

    }
    
    #second-container-left {
        width: 100%; 
        text-align: center;
       margin-left: 60px;
       position: absolute;
       left: 10px;
    }

    #button-2 {
        width: 75px;
        position: absolute;
       left: 100px;
        top: 170px;
    }
        #button-2:hover {
        transform: scale(1.05);
        background-color: hsl(0, 0%, 100%);
        color:hsl(270, 9%, 17%);
        }
        
        #button-2:active {
        transform: scale(1);
        border: green;
        }
    
    #bg-pattern-how-we-work {
    position: absolute;
   right: 0px;
    top: -2px;
    }

    #bg-pattern-how-we-work img {
        width: 150px;
        height: 265px;
    }

    #Nav-bottom {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

    }
    #logo-2 {
        width: 15%;
        height: 15%;
        align-items: center;
        margin: auto;
    }
        
    #logo-2 img {
    width: 30px;
    height: 20px;
    }
     
     #nav-links-2 {
     display: flex;
     align-items: center;
     /* gap: 2rem; */
     
     }

     #nav-links-2 img {
        display: flex;
     }
     
     #nav-links-2 a {
      color: hsl(256, 26%, 20%);
      text-decoration: none;
      font-size: 10px;
      font-family: "Karla", serif;
      font-optical-sizing: auto;
      font-weight: 400px;
      font-style: normal;
     }
     
    
    .last-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    }

    h5 {
        text-align: center;
    }

    h1 {
        font-size: 10;
    }

    p {
        font-size: 10;
    }
}